.listaJuegos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3B2C38;
  padding: 2rem;
  min-height: 100vh;
  padding-top: 100px;
  margin-top: 2rem; 

  #botonCrearJuego{
    background-color: rgb(0, 255, 221);
    padding: 10px;
    
  }

  h4{
    color: #EF076D;
    font-size: clamp(2.5rem, 5vw, 3.5rem);
    text-shadow:  2px 2px 0 #000000;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: left;

  }

  h4.filtro{
  align-self: flex-start;
  margin-left: 15%;
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  }

  h4.destacado{
    
    text-align: center;
    position: relative;

    //Para la barra de abajo
    &::after {
      content: '';
      display: block;
      margin: 1rem auto 0;
      width: 60%;
      height: 4px;
      background-color: #ef076d;
      border-radius: 2px;
    }
  }

  .lista {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3rem;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;

    .juegoItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: transparent;
      padding: 0;
      border: none;
      color: #EF076D;
      box-shadow: 12px 12px 0 #1E1E1E;
      border-radius: 0.5rem;
      font-size: clamp(0.9rem, 2vw, 1.2rem);
      transition: transform 0.2s ease;

      &:hover {

        transform: translate(-2px, -2px);
        box-shadow: 15px 15px 0 #000;
        filter: brightness(1.1);
      }

      &:active {
        transform: translate(5px, 5px);
        box-shadow: 5px 5px 0 #000;
        filter: brightness(0.9);


      }

      .nombreJuego {
        display: none;
      }

      .portadaJuego {
        height: auto;
        max-width: 100%;
        object-fit: cover;
        border-radius: 0.25rem;
      }
    }
  }

  #carouselExampleIndicators {
    width: 45%;
    max-width: 100%; 
    margin: 0 auto; 
    margin-bottom: 2rem;
    
  }

  .carousel-inner {
    width: 100%; 
    box-shadow: 6px 6px 0 #1E1E1E;

    border-radius: 0.5rem;
    
    &:hover {

      transform: translate(-2px, -2px);
      box-shadow: 10px 10px 0 #000;
      filter: brightness(1.1);
    }

    &:active {
      transform: translate(5px, 5px);
      box-shadow: 5px 5px 0 #000;
      filter: brightness(0.9);


    }
  }

  .carousel-inner img {
    height: 400px; 
    width: 100%; 
    object-fit: cover;

    
    
  }

  .filtro {
    margin-bottom: 2rem;
  }
  
  .filtroForm {
    display: flex;
    align-items: baseline; 
    gap: 10px; 
    background-color: #5B4758; 
    padding: 10px; 
    border-radius: 5px; 
    box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.3);
    margin-bottom: 10rem; 
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto;
    flex-wrap: nowrap; 
  }
  
  .filtroForm .form-group {
    flex: 1 1 150px;
    display: flex;
    flex-direction: column;

  }
  
  .filtroForm .form-control {
    padding: 8px; 

    border-radius: 5px;
    font-size: 13px; 
    min-height: 35px; 
    box-shadow: inset 2px 2px 10px #1e1e1e;

  }


  .filtroForm button  {
       
    width: 100%;
    padding: 10px 10px;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    font-size: 14px; 
    position: relative;
    box-shadow: 4px 4px 0 #1E1E1E;
    
    transition:
      transform 0.1s ease,
      box-shadow 0.1s ease,
      filter 0.2s ease;

    &:hover {
      transform: translate(-2px, -2px);
      box-shadow: 6px 6px 0 #000;
      filter: brightness(1.1);
    }

    &:active {
      transform: translate(2px, 2px);
      box-shadow: 3px 3px 0 #000;
      filter: brightness(0.9);
    }

    
  }
  .btn2{
    background-color:#EF076D ;
    color: white;
  }
  .btn1{
    background-color:#96F527 ;
  }

  
  
  
  .filtroForm .btn-secondary {
    margin-left: 10px; 
  }
  
  .filtroForm input, .filtroForm select {
    width: 100%; 
    max-width: 200px; 
  }
  
  @media (max-width: 768px) {
    .filtroForm {
      flex-direction: column; 
      gap: 10px; 
    }
  
    .filtroForm .form-group {
      flex: 1 1 100%;
    }
  
    .filtroForm button {
      width: 100%; 
      margin-left: 0; 
    }
  }
  
}

@media (max-width: 768px) {
  .listaJuegos {
    .tituloLista {
      font-size: clamp(2rem, 5vw, 2.5rem);
      margin-bottom: 2rem;
    }

    .lista {
      width: 90%;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
    }

    .juegoItem {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      padding: 0;
      border-radius: 0.25rem;

      .portadaJuego {
        width: 75%;
        height: auto;
        box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.6);
      }
    }
  }
}

@media (max-width: 1450px) {
  .listaJuegos {
    .tituloLista {
      font-size: clamp(2rem, 5vw, 3rem);
    }

    .lista {
      width: 85%;
      grid-template-columns: repeat(4, 1fr);
      gap: 2.5rem;
    }

    .juegoItem {
      font-size: clamp(1.2rem, 2.5vw, 1.5rem);
    }
  }
}
