body{
  background-color: #3B2C38;
  height: 100vh;
}

h1{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  text-align: center; 
}

img {
  max-width: 100%; 
  height: auto;
}