.pantallaSesion {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #251723;
  }
  
  .formularioSesion {
    background-color: #3B2C38;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 20px 20px 0px 0px rgba(0, 0, 0, 0.2);
    width: 60%;
    height: 70%;
    color: #EF076D;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .campo {
    margin-bottom: 15px;
  }
  
  .campo label {
    display: block;
    margin-bottom: 5px;
  }
  
  .campo input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    
  }
  
  .botones {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
  }
  #btnIniciarSesion{
    background-color: #96F527;
    color: #000;
  }
  
  #btnRegistrar{
    background-color:#EF076D;
  }
 
  
  .botones .btn {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;

    box-shadow: 10px 10px 0px 0px #1E1E1E;
    transition: 
      transform 0.1s ease,
      box-shadow 0.1s ease,
      filter 0.2s ease;
    font-size: 1.5em;
    position: relative;
  }
  
  
  
    
  .botones .btn:hover {
  
    transform: translate(-2px, -2px);
    box-shadow: 12px 12px 0px 0px #000000;
    filter: brightness(1.1);
   
  }

  
  .botones .btn:active {
 
    transform: translate(2px, 2px);
    box-shadow: 3px 3px 0px 0px #000000;
    filter: brightness(0.90);
  }
  